/* google fonts - fonts.google.com */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");

body {
    font-family: "Quicksand", sans-serif;
    line-height: 1.5;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.5); */
    background-color: #f4f4f4;
}

/* header */
header {
    width: 80%;
    padding: 20px 0;
    position: absolute;
    /* flex */
    display: flex;
}
.logo {
    font-size: 40px;
    font-weight: 500;
    /* width: 20%;
    float: left; */
    margin-left: 20px;
    color: #fff;
    /* flex */
    flex: 1;
}
nav {
    text-align: center;
    /* float: right;
    width: 70%; */
    flex: 3;
}
/* nav a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #fff;
} */
nav a{

}
/* clearfix */
.clearfix {
    clear: both;
}
/* banner */
.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/hero.jpg);
    /* height: 60vh; */
    height: 60vh;
    width: 100%;
    background-size: cover;
}
.banner-text {
    width: 50%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    padding-top: 15%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
main {
    margin: 20px;
    /* flex */
    display: flex;
}
/* two column */
.sideleft {
    /* width: 40%;
    float: left; */
    padding-right: 20px;
    flex: 1;
}
.sideright {
    /* width: 50%;
    float: right; */
    flex: 1;
}
.sideright img {
    width: 100%;
}
footer {
    padding: 80px;
    text-align: center;
    background-color: #05a081;
    color: #fff;
    /* For footer a's position of absolute */
    position: relative;
}

.top {
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    color: #05a081;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    /* position - static, relative, fixed, absolute, sticky*/
    /* position: relative; */
    position: fixed;
    /* position: absolute; */
    bottom: 40px;
    right: 100px;
}
.button {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
}
.button2 {
    padding: 10px;
    color: #05a081;
    text-decoration: none;
    border: 3px solid #05a081;
    font-weight: bold;
}

/* PARALAX */

/* .box1{
    background-image: url(../images/1.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-attachment: fixed;
}

.box2{
    background-image: url(../images/2.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-attachment: fixed;
}

.box3{
    background-image: url(../images/3.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-attachment: fixed;
}

.box4{
    background-image: url(../images/4.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-attachment: fixed;
}

.box1 h2, .box1 h2, .box3 h2, .box4 h2{
    font-size: 80px;
    margin: 0;
    text-align: center;
    color: #fff;
} */

/* naviations */

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    /* flex */
    display: flex;
    justify-content: space-around;

}

nav ul li{
    display: block;

}
nav ul li a{
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    color: #fff;
    flex: 1;
    
}

/* Dropdown */
nav ul li ul{
    position: absolute;
    background-color: #fff;
    width: relative;
    display: none;
    /* transition: all 0.4s;
    /* max-height: 0;
    overflow: hidden; */ 
    transition: all 0.4s;
    flex-direction: column;

}

nav ul li ul li{

}

nav ul li ul li a{
    color: #000;
    font-weight: bold;
    padding: 10px 5px;
}

nav ul li:hover ul{
    display: block;

    /* max-height: 500px; */
    
}

/* gallery */
.gallery{
    width: 100%;
    
}

.gallery-item{
    width: 200px;
    margin: 20px;
    border: 1px solid #ccc;
    float: left;
    transition: all 0.3s;
    
}
.gallery-item a{
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #000;
}
.gallery-item img{
    width: 100%;

}

.gallery-item:hover{
    box-shadow: 0 5px 5px rgba(0,0,0,0.8) ;
}


